**Proyecto ML fraude de tarjetas de cr√©dito**

In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ProyectoBEDU/ProyectoML/creditcard.csv")
df.head(10)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0
5   2.0 -0.425966  0.960523  1.141109  ...  0.253844  0.081080    3.67      0
6   4.0  1.229658  0.141004  0.045371  ...  0.034507  0.005168    4.99      0
7   7.0 -0.644269  1.417964  1.074380  ... -1.206921 -1.085339   40.80      0
8   7.0 -0.894286  0.286157 -0.113192  ...  0.011747  0.142404   93.20      0
9   9.0 -0.338262  1.119593  1.044367  ...  0.246219  0.083076    3.68      0

[10 rows x 31 columns]

Las columnas V* son valores obtenidos con la t√©cnica de precisi√≥n de √°rea bajo la curva, el tiempo no se utiliza porque es el tiempo en el que fueron hechas las transacciones.

In [ ]:
from sklearn.datasets import make_blobs
from matplotlib import pyplot as plt

In [ ]:
porcentaje_entrenamiento = 0.7
porcentaje_validacion = 0.1
porcentaje_prueba = 0.2

temp_size = porcentaje_validacion + porcentaje_prueba

In [ ]:
X_train, X_temp, y_train, y_temp = train_test_split(x, y, test_size=temp_size)

NameError: ignored

In [ ]:
if (porcentaje_validacion > 0):
  test_size = porcentaje_prueba / temp_size
  X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=test_size)

In [ ]:
X_train.shape

In [ ]:
X_val.shape

In [ ]:
X_test.shape

Estos datos son de prueba, validaci√≥n y entrenamiento para empezar a analizar e interactuar con la base de datos

In [ ]:
df.drop('Time', axis='columns', inplace=True)
df.head(5)

         V1        V2        V3        V4  ...       V27       V28  Amount  Class
0 -1.359807 -0.072781  2.536347  1.378155  ...  0.133558 -0.021053  149.62      0
1  1.191857  0.266151  0.166480  0.448154  ... -0.008983  0.014724    2.69      0
2 -1.358354 -1.340163  1.773209  0.379780  ... -0.055353 -0.059752  378.66      0
3 -0.966272 -0.185226  1.792993 -0.863291  ...  0.062723  0.061458  123.50      0
4 -1.158233  0.877737  1.548718  0.403034  ...  0.219422  0.215153   69.99      0

[5 rows x 30 columns]

Se dropea la columna de tiempo porque no la vamos a necesitar m√°s que los datos de V*. En este caso se va a utilizar la columna Class que es conformada por n√∫meros binarios que representan:  1 s√≠ es fraude y 0 si no es.

In [ ]:
feature_fraud = df.drop('Class', axis='columns')
labels = df['Class']

# X_train, X_test, y_train, y_test
train_feature_fraud, test_feature_fraud, train_labels, test_labels = train_test_split(feature_fraud, labels, test_size=0.20)

In [ ]:
model = RandomForestClassifier(n_estimators=10)
model.fit(train_feature_fraud, train_labels)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
model

In [ ]:
prediccion = model.predict(test_feature_fraud)
score = accuracy_score(prediccion, test_labels)

print("{}% accuracy".format(score * 100))

In [ ]:
matrizz = confusion_matrix(prediccion, test_labels)

In [ ]:
(TN, FP, FN, TP) = matrizz.ravel()

In [ ]:
print("True negatives: "+str(TN))
print("True positives: "+str(TP))
print("False positives: "+str(FP))
print("False negative: "+str(FN))

In [ ]:
precision = (TP + TN)/ (TP + FP + TN + FN)
precision * 100

In [ ]:
sensibilidad = TP / (TP + FN)
sensibilidad * 100

In [ ]:
especificidad = TN / (FP + TN)
especificidad * 100

In [ ]:
def calcular_precision(TN, FP, FN, TP):
  precision = (TP + TN)/ (TP + FP + TN + FN)
  return precision * 100

In [ ]:
def calcular_sensibilidad(TN, FP, FN, TP):
  sensibilidad = TP / (TP + FN)
  return sensibilidad * 100

In [ ]:
def calcular_especificidad(TN, FP, FN, TP):
  especificidad = TN / (FP + TN)
  return especificidad * 100